[paths]
source =
   src/cnx
   */site-packages/openstax_cnx_api

[run]
branch = true
source =
    openstax_cnx_api
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
